/*

Reset everything and set up HTML5 elements.
   
Based on:
  Eric Meyer's reset.css (version 1.0 | 20080212): http://meyerweb.com/eric/tools/css/reset
  Yahoo's YUI CSS Reset (version 3.0, build 1549): http://developer.yahoo.com/yui/3/cssreset/

*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, audio, canvas, command, datalist, details, eventsource,
figure, footer, header, hgroup, keygen, mark, menu, meter, nav, output,
progress, ruby, rp, rt, section, source, time, video {
	margin: 0;
	padding: 0;
	
	background: transparent;
	border: 0;
	outline: 0;
	
	font-size: 100%;
	font-style: normal;
	font-variant: normal;
	vertical-align: baseline;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
	content: none;
}

ins {
	text-decoration: none;
}

del {
	text-decoration: line-through;
}

/* Tables still need 'cellspacing="0"' in the markup. */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

address, caption, cite, code, dfn,
em, strong, th, var,
h1, h2, h3, h4, h5, h6 {
  font-size: 1em;
	font-style: normal;
	font-weight: normal;
}

a {
  color: inherit;
  
  text-decoration: none;
}

caption, th {
	text-align: left;
}

sup {
	vertical-align: text-top;
}

sub {
	vertical-align: text-bottom;
}

input, textarea, select {
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
}


/*

Set up HTML5.

Notes:
  Source is not an element that represents anything on its own, thus it does not need any styling.
  Time is likely to be inline. I think details and legend are also, though I'm not sure.
  I assume keygen will be too.

*/

article, aside, audio, canvas, command, datalist, details, dialog, embed, figure,
footer, header, hgroup, mark, menu, meter, nav, output, progress, rp, rt, ruby, section, video {
  display: block;
}
